In [1]:
import pandas as pd

In [2]:

df = pd.read_csv("miamizip2011.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2011"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2011")

miami_2011 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})

miami_2011




df = pd.read_csv("miamizip2012.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2012"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2012")

miami_2012 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})




df = pd.read_csv("miamizip2013.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2013"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2013")

miami_2013 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})


df = pd.read_csv("miamizip2014.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2014"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2014")

miami_2014 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})




df = pd.read_csv("miamizip2015.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2015"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2015")

miami_2015 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})

miami_2015


df = pd.read_csv("miamizip2011.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2011"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2011")

miami_2011 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})



df = pd.read_csv("miamizip2016.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2016"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2016")

miami_2016 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})


df = pd.read_csv("miamizip2017.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2017"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2017")

miami_2017 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})



df = pd.read_csv("miamizip2018.csv", usecols = [1,5,7,35, 153, 155, 549])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2018"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2018")

miami_2018 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})




df = pd.read_csv("miamizip2019.csv", usecols = [0,4,6,34, 152, 154, 549 ])
df["NAME"] = df["NAME"].str.replace("ZCTA5", "")
dff = pd.DataFrame(df.drop(0))
dff.rename(columns = {"NAME":"zip_miami_2019"}, inplace = True)
mask = pd.DataFrame(dff).set_index("zip_miami_2019")

miami_2019 = mask.rename(columns = {"DP03_0001E" : "total_population_over_16",
                     "DP03_0002E" : "labor_force", 
                     "DP03_0002PE" : "percent_in_labor_vs_population",
                     "DP03_0009PE": "unemployment",
                     "DP03_0039E" : "information_industry",
                     "DP03_0039PE" : "information_as_percent_of_labor"})

In [6]:
miami_2013

,total_population_over_16,labor_force,percent_in_labor_vs_population,unemployment,information_industry,information_as_percent_of_labor
zip_miami_2013,,,,,,
33010,39320,21894,55.7,15.3,156,0.8
33012,63684,36325,57.0,10.5,793,2.4
33013,27356,15063,55.1,16.1,149,1.2
33014,33620,20344,60.5,14.4,329,1.9
33015,50028,34881,69.7,7.6,804,2.5
...,...,...,...,...,...,...
33190,8483,6216,73.3,9.7,66,1.2
33193,37607,24492,65.1,9.9,474,2.1
33194,6227,2786,44.7,8.0,44,1.7
33196,35086,24270,69.2,11.2,556,2.6
"Miami CCD, Miami-Dade County, Florida",752761,465071,61.8,13.5,7815,1.9